.about-body-cont {
  position: relative;
  width: 100vw;
  height: 75vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
}

.about-body-cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Assets/images/about1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(60%) blur(0px); /* Apply shadow effect */
  /* z-index: 1; */

}
.about-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.about-body-cont h1 {
  position: relative;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 56px;
  overflow-wrap: break-word;
  z-index: 1000; /* Ensure text is above pseudo-element */
}
/*********************Section1***********************/
.section1-about-body-cont {
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.section1-about-body-cont p {
  font-size: 24px;
  font-family: "Cormorant Garamond", sans-serif;
}
.numbers {
  display: flex;
  margin-top: 50px;
  width: 95%;
  /* background-color: aqua; */
  flex-direction: row;
  justify-content: space-between;
}
.num-events {
  display: flex;
  flex-direction: column;
}
.descp-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.descp-span p {
  font-size: 24px;
  font-weight: 700;
  font-family: "Cormorant Garamond", sans-serif;
}
.descp-span-cont p {
}

.numbers h3 {
  font-size: 56px;
  font-family: "Cormorant Garamond";
  font-weight: 700;
}
.numbers span {
  font-size: 15px;
  font-family: "Jost", sans-serif;
  letter-spacing: 2px;
  margin-top: 14px;
  flex-grow: 1px;
  flex-shrink: 1px;
}

/* .section2-img-cont {
  width: 500px !important;          
  height: 600px !important;          
} */

/* .section2-img-cont img {
  width: 100% !important;          
  height: 100% !important;          
  object-fit: cover;                  
} */


/*******************Section 3********************/

.section2-body-cont {
  position: relative;
  padding-top: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  /* background-color: rgba(0, 0, 0, 0.7); */
  overflow: hidden; /* Ensure pseudo-element stays within bounds */
  color: white;
}


.col-6 h3 {
  font-family: "Cormorant Garamond";
  font-size: 36;
  font-weight: 700;
}
.col-6 h2 {
  font-family: "Cormorant Garamond";
  font-size: 48px;
  font-weight: 700;
}
.col-6 p {
  font-family: "Jost";
  font-size: 18px;
  font-weight: 400;
}

.col-cont{
  /* background-color: aqua; */
  justify-content: center;
  width: 100px;
}
.section2-img-cont{
  width: 100%;
  height: 100%;
  /* background-color: pink; */
}
.section2-img-cont img{
  width: 100%;
  height: 100%;
}

/***************section-vision*******************/

.about-vision-cont {
  position: relative;
  padding-top: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;

  overflow: hidden; /* Ensure pseudo-element stays within bounds */
  color: white;
}
.vision-container {
  width: 80%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}
.vision-row {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  margin-bottom: 60px;
}
.right-vision-col-6 {
  display: flex;
  width: 300px;
  /* background-color: blue; */
}
.right-vision-col-6 h2 {
  font-family: "Cormorant Garamond";
  font-size: 48px;
}
.left-vision-col-6 {
  /* width: 100%; */
  /* text-align: left; */
}

.left-vision-col-6 h3 {
  font-weight: 700;
  font-family: "Cormorant Garamond";
  font-size: 36px;
  /* text-align: left; */
}

.left-vision-col-6 p {
  font-weight: 400;
  font-size: 18px;
  font-family: "Jost";
  /* text-align: left; */
  padding-left: 50px;
}

/* For screens larger than 1440px */


/* For screens between 1024px and 1440px */
@media (min-width: 1024px) and (max-width: 1439px) {
  .about-body-cont h1 {
    font-size: 56px;
  }
  .about-vision-cont {
    /* background-color: aqua; */
  }
  .section1-about-body-cont p {
    font-size: 24px;
  }

  .numbers h3 {
    font-size: 56px;
  }

  .numbers span {
    font-size: 16px;
  }

  .col-6 h2 {
    font-size: 38px;
  }

  .col-6 h3 {
    font-size: 36px;
  }
  .vision-row {
  }
  .right-vision-col-6 {

  }
  .left-vision-col-6 {
    width: 100%;
    /* background-color: pink; */
  }
  .right-vision-col-6 h2 {
    font-size: 36px;
  }
  .left-vision-col-6 h4 {
    font-size: 18px;
  }
}

/* For screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .about-body-cont h1 {
    font-size: 48px;
  }

  .section1-about-body-cont p {
    font-size: 20px;
  }

  .numbers h3 {
    font-size: 48px;
  }

  .numbers span {
    font-size: 14px;
  }

  .col-6 h2 {
    font-size: 42px;
  }

  .col-6 h3 {
    font-size: 30px;
  }
  .right-vision-col-6 {
  }
  .left-vision-col-6 {
    width: 100%;
  }
  .right-vision-col-6 h2 {
    font-size: 36px;
  }
  .left-vision-col-6 h4 {
    font-size: 18px;
  }
  .section2-escape-row {
    display: flex;
    width: 100%;
    gap:50px;
    flex-direction: column;
  }
  .section2-escape-col {
    width: 100%!important;
  }
  .col-cont{
    /* background-color: aqua; */
    justify-content: center;
    width: 100%!important;
  }
  .section2-img-cont{
    width: 100%;
    height: 100%;
    /* background-color: pink; */
  }
  .section2-img-cont img{
    width: 100%;
    height: 100%;
  }

}



@media (max-width: 426px) {
  .about-body-cont h1 {
    font-size: 42px;
  }

  .section1-about-body-cont p {
    font-size: 24px;
  }

  .numbers {
    display: flex;
    flex-direction: column;
  }

  .numbers h3 {
    font-size: 56px;
  }

  .numbers span {
    font-size: 10px;
  }
  .section2-escape-row {
    display: flex;
    width: 100%;
    gap:50px;
    flex-direction: column;
  }
  .section2-escape-col {
    width: 100% !important;
  }


  .col-6 h2 {
    font-size: 28px;
  }

  .col-6 h3 {
    font-size: 20px;
  }
  .vision-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .right-vision-col-6{
    display: flex;
    justify-content: center;
  }
  .col-cont{
    /* background-color: aqua; */
    justify-content: center;
    width: 100%!important;
  }
  .section2-img-cont{
    width: 100%;
    height: 100%;
    /* background-color: pink; */
  }
  .section2-img-cont img{
    width: 100%;
    height: 100%;
  }

}

@media (max-width: 375px) {

}