.exp-body-cont {
  position: relative;
  width: 100vw;
  height: 75vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
}

.exp-body-cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/296301/pexels-photo-296301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=17");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(60%) blur(0px); /* Apply shadow effect */
  /* z-index: 1; */
}
.exp-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.exp-body-cont h1 {
  position: relative;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 56px;
  overflow-wrap: break-word;
  z-index: 1000; /* Ensure text is above pseudo-element */
}

.exp-body-cont-title {
  font-size: 56px;
  color: white;
  font-weight: 700;
  z-index: 1000;
  font-family: "Cormorant Garamond", serif;
}
.section1-exp-body-cont {
  padding-top: 50px;
  position: relative;
  width: 100vw;
  padding-left: 30px;
  text-align: center;
}

.exp-about-cont {
  position: relative;
  width: 100vw;
  padding-top: 85px;
  align-self: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.exp-description {
  padding-left: 20%;
  padding-right: 20%;
}
.exp-description span {
  font-family: "Jost", serif;
  letter-spacing: 4px;
  color: rgba(185, 92, 71);
  font-weight: 500;
}
.exp-description h3 {
  font-family: "Cormorant Garamond";
  font-size: 42px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
.exp-description p {
  font-family: "Jost";
  padding-top: 30px;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 29.5px;
}

.exp-row-cont {
  /* background-color: aqua; */
  padding-left: 20px;
}

.room-row-cont {
  /* border:1px solid black; */
}

.room-row-cont a {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  font-weight: 700;
  transition-duration: 0.3s;
}
.room-row-cont p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
}
.room-column-txt {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.onlyImg {
  width: 510px;
  height: 510px;
}
.bed-room-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  flex-direction: row;
}
.inner-bed-room-cont {
  display: flex;
  gap: 30px;
}

.fw-400 {
  font-weight: 100;
}

.fs-8 {
  font-size: 8px;
}

.fm-Jost {
  font-family: "Jost", sans-serif;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.exp-column-txt .exp-details {
  font-size: 15px;
  display: inline;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 6px;
  color: black;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

.exp-column-txt .exp-details::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 15px;
  width: calc(100% - 1px);
  height: 0.8px;
  background-color: rgb(26, 26, 26);
}

.exp-column-txt .exp-descp1 {
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.activity-slider-img-cont {
  width: 20px;
  height: 20px;
}
.activity-slider-img-cont img {
  width: 100%;
  height: 100%;
}


.activity-swiper-card-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.activity-swiper-card-cont img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}