.about-body-cont {
    position: relative;
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden; /* Ensure pseudo-element stays within bounds */
    color: white;
  }
  
  .about-body-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://th.bing.com/th/id/R.7a9de18404fee58c268f44238c8e7031?rik=p659bV13iFrYVA&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f3%2f35%2fA_hut.jpg&ehk=f6nPK2M%2fuTyqbqnnwTZd6ur58KnCvDYUQ9aDjV0S6Us%3d&risl=&pid=ImgRaw&r=07");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(60%) blur(0px); /* Apply shadow effect */
    z-index: 1; /* Ensure pseudo-element is behind content */
  }
  
  .about-body-cont h1 {
    position: relative;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
  
    overflow-wrap: break-word;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Added text shadow */
    z-index: 2; /* Ensure text is above pseudo-element */
  }
  /*********************Section1***********************/
 
  .section1-faq-cont {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Ensure pseudo-element stays within bounds */
    color: white;
  }

  .heading-img-heading-cont{
    display: flex;
    flex-direction: row;
  }