/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Global Styles */
html {
  overflow-x: hidden;
}

/* Home Section */
.home-body-cont {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  transition: opacity 1s ease-in-out;
}

.slider-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 5s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.slider-image.active {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.slider-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.title span {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 4px;
}

.title h2 {
  font-family: "Cormorant Garamond";
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 4px;
}

.title p {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

/* About Section */
.home-about-cont {
  position: relative;
  width: 100vw;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
}

.description {
  padding-left: 10%;
  padding-right: 10%;
}

.description span {
  font-family: "Jost", serif;
  letter-spacing: 4px;
  color: rgba(185, 92, 71);
  font-weight: 500;
}

.description h3 {
  font-family: "Cormorant Garamond";
  font-size: 42px;
  font-weight: 700;
}

.description p {
  font-family: "Jost";
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 29.5px;
}

.image-cont {
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.image-cont img {
  width: 350px;
  height: 450px;
}

.image-cont .middle-img {
  padding-top: 15%;
  height: 390px;
}

.image-cont .soar,
.image-cont .tie {
  height: 390px;
}

.wp-caption {
  box-sizing: border-box;
}

.wp-caption figcaption {
  text-align: center;
  color: rgba(90, 90, 90);
  display: flex;
  font-family: "Jost";
  font-weight: 500;
  justify-content: center;
  letter-spacing: 4px;
  line-height: 26.08px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Spa Section */
.home-spa-cont {
  position: relative;
  width: 100vw;
  padding-top: 85px;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url("https://images.pexels.com/photos/24805054/pexels-photo-24805054/free-photo-of-view-of-the-terrace-with-a-swimming-pool-at-the-resort.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  min-height: 80vh;
}

.home-spa-cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.home-spa-cont > * {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.spa-description {
}

.spa-span {
  font-family: "Jost", serif;
  letter-spacing: 4px;
  color: white;
  font-weight: 500;
}

.spa-h3-cont {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.spa-h3 {
  font-family: "Cormorant Garamond";
  font-size: 42px;
  font-weight: 700;
}

.btn-cont {
  text-align: center;
  padding-top: 30px;
  display: block;
  font-family: "Jost";
}

.btn-cont span {
  border: 1px solid;
  padding: 10px 30px;
  border-radius: 3px;
  font-weight: 500;
  font-family: "Jost";
  font-size: 15px;
}

.btn-cont span:hover {
  background-color: rgba(185, 92, 71);
}

/* Accommodations Section */
.home-acco-cont {
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.acco-description {
  margin-bottom: 30px;
}

.acco-span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-family: "Jost";
  letter-spacing: 4px;
  color: rgba(185, 92, 71);
  margin-bottom: 10px;
}

.acco-h3-cont {
  max-width: 800px;
  margin: 0 auto;
}

.acco-h3 {
  font-family: "Cormorant Garamond";
  font-size: 42px;
  font-weight: 700;
}

.acco-description p {
  font-family: "Jost";
  font-size: 18px;
  font-weight: 300;
}

.acc-swiper-cont {
  width: 85%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acc-swiper-card-cont {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.acc-wiper-card-cont-img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.acc-wiper-card-cont-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 1;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 0;
}

.swiper-button-prev,
.swiper-button-next {
  color: aliceblue;
}

.acc-swiper-card-text {
  position: absolute;
  bottom: 40px;
  width: 100%;
  justify-content: center;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
}

.acc-swiper-card-text-h {
  font-size: 28px;
  font-family: "Cormorant Garamond";
}

.acc-swiper-card-text-s {
  font-size: 18px;
  font-family: "Jost";
}

/* Pagination */
.swiper-pagination {
  position: relative;
  padding: 20px;
  height: 20px;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
}

/* Experience Section */
.home-exp-cont {
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.exp-description {
  margin-bottom: 30px;
}

.exp-span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-family: "Jost";
  letter-spacing: 4px;
  color: rgba(185, 92, 71);
  margin-bottom: 10px;
}

.exp-h3-cont {
  width: 100%;
}

.exp-h3 {
  font-family: "Cormorant Garamond";
  font-size: 42px;
  font-weight: 700;
}

.exp-description p {
  font-family: "Jost";
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 29.5px;
}

.exp-description-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
}


.exp-gallery-cont {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  padding: 20px;
}

.exp-gallery-cont-row {
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  justify-content: center; /* Center columns within the row */
  align-items: center;
}

.exp-gallery-cont-col {
  /* border: 1px solid black; */
  display: flex;
  gap: 20px;
  justify-content: center; /* Center images within the column */
}

.exp-gallery-cont-col img {
  width: 240px;
}

/*************acc0********************/

.home-acco-cont a {
  margin-top: 10%;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(185, 92, 71);
}

.home-acco-cont a span {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

/* For screens larger than 1440px */
@media (min-width: 1440px) {
  .home-body-cont .title {
    font-size: 16px;
  }

  .home-about-cont .description {
    padding-left: 10%;
    padding-right: 10%;
  }

  .home-acco-cont .acco-description {
    margin-bottom: 30px;
  }
}

/* For screens between 1024px and 1440px */
@media (min-width: 1024px) and (max-width: 1439px) {
  .home-body-cont .title {
    font-size: 14px;
  }

  .home-about-cont .description {
    padding-left: 5%;
    padding-right: 5%;
  }

  .image-cont img {
    width: 300px;
    height: 400px;
  }

  .home-acco-cont .acco-description {
    margin-bottom: 20px;
  }
}

/* For screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .home-body-cont .title {
    font-size: 12px;
  }

  .home-about-cont .description {
    padding-left: 5%;
    padding-right: 5%;
  }

  .image-cont {
    flex-direction: column;
  }

  .image-cont img {
    width: 100%;
    height: auto;
  }

  .home-acco-cont .acco-description {
    margin-bottom: 20px;
  }
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
  .home-body-cont .title {
    font-size: 10px;
  }

  .home-about-cont .description {
    padding-left: 2%;
    padding-right: 2%;
  }

  .image-cont {
    flex-direction: column;
  }

  .image-cont img {
    width: 100%;
    height: auto;
  }

  .home-acco-cont .acco-description {
    margin-bottom: 15px;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .home-body-cont .title {
    font-size: 10px;
  }

  .home-about-cont .description {
    padding-left: 2%;
    padding-right: 2%;
  }

  .image-cont {
    flex-direction: column;
  }

  .image-cont img {
    width: 100%;
    height: auto;
  }

  .home-acco-cont .acco-description {
    margin-bottom: 15px;
  }
}

/* For screens smaller than 500px */
@media (max-width: 499px) {
  .home-body-cont .title {
    font-size: 8px;
  }

  .home-about-cont .description {
    padding-left: 1%;
    padding-right: 1%;
  }

  .image-cont {
    flex-direction: column;
  }

  .image-cont img {
    width: 100%;
    height: auto;
  }

  .home-acco-cont .acco-description {
    margin-bottom: 10px;
  }
}

/* For screens between 425px and 767px */
@media (min-width: 425px) and (max-width: 647px) {
  .home-body-cont .title {
    font-size: 10px;
  }

  .home-about-cont .description {
    padding-left: 2%;
    padding-right: 2%;
  }

  .image-cont {
    flex-direction: column;
  }

  .image-cont img {
    width: 100%;
    height: auto;
  }

  .home-acco-cont .acco-description {
    margin-bottom: 15px;
  }
  .numbers h3 {
    font-size: 8px;
  }
  .num-events h3 {
    font-size: 8px;
  }
}

/* For screens smaller than 425px */
@media (max-width: 424px) {
  .home-body-cont .title {
    font-size: 8px;
  }

  .home-about-cont .description {
    padding-left: 1%;
    padding-right: 1%;
  }

  .image-cont {
    flex-direction: column;
  }

  .image-cont img {
    width: 100%;
    height: auto;
  }

  .home-acco-cont .acco-description {
    margin-bottom: 10px;
  }
}

/* Home Spa Section */
.home-spa-cont {
  position: relative;
  width: 100vw;
  padding-top: 85px;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url("../Assets//images/counter.png") !important;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  min-height: 80vh;
}

.spa-description {
  text-align: center;
}

.spa-span {
  font-family: "Jost", serif;
  letter-spacing: 4px;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.spa-h3-cont {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.spa-h3 {
  font-family: "Cormorant Garamond";
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px; /* Add some spacing */
}

.btn-cont {
  text-align: center;
  padding-top: 30px;
  display: block;
  font-family: "Jost";
}

.btn-cont span {
  border: 1px solid;
  padding: 10px 30px;
  border-radius: 3px;
  font-weight: 500;
  font-family: "Jost";
  font-size: 15px;
}

.btn-cont span:hover {
  background-color: rgba(185, 92, 71);
}

/* Responsive Font Sizes */

/* For screens larger than 1440px */
@media (min-width: 1440px) {
  .spa-span {
    font-size: 20px;
  }

  .spa-h3 {
    font-size: 56px;
  }

  .num-events h3 {
    font-size: 30px;
  }

  .num-events span {
    font-size: 20px;
  }
}

/* For screens between 1024px and 1440px */
@media (min-width: 1024px) and (max-width: 1439px) {
  .spa-span {
    font-size: 18px;
  }

  .spa-h3 {
    font-size: 42px;
  }

  .num-events h3 {
    font-size: 28px;
  }

  .num-events span {
    font-size: 18px;
  }
}

/* For screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .spa-span {
    font-size: 16px;
  }

  .spa-h3 {
    font-size: 36px;
  }

  .num-events h3 {
    font-size: 24px;
  }

  .num-events span {
    font-size: 16px;
  }
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
  .spa-span {
    font-size: 14px;
  }

  .spa-h3 {
    font-size: 30px;
  }

  .num-events h3 {
    font-size: 20px;
  }

  .num-events span {
    font-size: 14px;
  }
}

/* For screens between 425px and 647px */
@media (min-width: 425px) and (max-width: 647px) {
  .spa-span {
    font-size: 12px;
  }

  .spa-h3 {
    font-size: 24px;
  }

  .num-events h3 {
    font-size: 18px;
  }

  .num-events span {
    font-size: 12px;
  }
  .spa-description {
    padding-bottom: 30px;
  }
  .home-acco-cont {
    padding: 0px !important ;
  }
}
@media (min-width: 375px) and (max-width: 647px) {
  .spa-description {
    padding-bottom: 30px;
  }
  .home-acco-cont {
    padding: 0px !important;
  }
  .exp-gallery-cont {
    padding-left: 0px;
  }
}

/* For screens smaller than 425px */
@media (max-width: 424px) {
  .spa-span {
    font-size: 10px;
  }

  .spa-h3 {
    font-size: 20px;
  }

  .num-events h3 {
    font-size: 16px;
  }

  .num-events span {
    font-size: 10px;
  }
  .home-acco-cont {
    padding: 0px;
  }
  .home-acco-cont {
    padding: 0px !important;
  }
  .spa-description {
    padding-bottom: 30px;
  }
}

@media (max-width: 429px) {
  .home-exp-cont {
    padding: 0px !important;
  }
  .exp-description {
    margin-top: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0px !important;
  }
  .acco-description {
    margin: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .exp-h3-cont {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 0px !important;
  }
  .exp-description p {
    align-self: center;
  }
  p {
    padding-left: 0px !important;
  }
  .exp-gallery-cont {
    padding-left: 0px;
  }
}
