@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.row {
  display: flex;
  width: 100%;
  font-family: "Jost", sans-serif;
}

.column-wrap {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
}

.main-row {
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
}

.navbar-log-navlinks-cont {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.navbar-routes-cont {
  /* Uncomment or set a background color if needed */
}

.left-header-col-10 {
  flex: 11;
  /* background-color: blue; */
}

.right-header-col-2 {
  flex: 1;
  /* background-color: pink; */
  height: 100%;
  align-items: center;
  text-align: center;
}

.navbar-logo {
  width: 100px;
  align-self: center;
  border-radius: 50%; /* Simplified */
  margin-left: 70px;
}

.navbar-routes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: white;
  justify-content: center;
  margin-right: 10px;
  padding: 10px;
  font-family: "Jost", sans-serif; /* Consistent font-family */
}

.navbar-routes a {
  text-decoration: none;
  color: white;
  padding: 14px 20px;
}

.navbar-routes li {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  list-style-type: none;
  border: 0; /* Removed redundant border properties */
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

.right-header-col-2-cont {
  background-color: aqua;
}

.right-header-col-4-cont {
  background-color: red;
  border-radius: 5px;
  width: 150px; /* Adjusted width */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  /* padding-top: 40px; */
}

.right-header-col-4-cont img {
  width: 25px;
}

.right-header-col-4-cont h1 {
  font-size: 18px;
  color: white; /* Ensures text is visible on aqua background */
  padding: 7px;
  margin:0px;
}
