@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Base Styles */
.navbar-cont {
  width: 100%;
  padding: 20px 15px;
}

.navbar {
  background-color: red; /* Fixed color */
}

.navbar-brand {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: transparent;
}

.navbar-expand-lg {
  background-color: transparent;
}

.navbar-logo {
  width: 80px;
  border-radius: 50%;
}

.navbar-toggler {
  border: none;
  background-color: red; /* Fixed color */
}

.navbar-nav {
  display: flex;
  justify-content: center; /* Center align the navigation routes */
  flex: 1; /* Allow navbar-nav to grow and take up space */
}

.navbar-routes {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  background-color: transparent;
  font-family: "Jost", sans-serif;
}

.navbar-routes .nav-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar-routes .nav-link.active {
  font-weight: 700;
  
}

.navbar-routes .nav-item {
  list-style-type: none;
}

/* @media(max-width:435px){
  .navbar-logo{
    display: none;
  }
} */

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-logo {
    width: 60px;
  }

  .navbar-routes {
    gap: 15px;
    padding: 8px 0;
  }

  .navbar-routes .nav-link {
    padding: 12px 16px;
  }
}

@media (max-width: 425px) {
  .navbar-logo {
    width: 50px;
  }

  .navbar-routes {
    gap: 10px;
    padding: 6px 0;
  }

  .navbar-routes .nav-link {
    padding: 10px 14px;
  }
}

@media (max-width: 375px) {
  .navbar-logo {
    width: 45px;
  }

  .navbar-routes {
    gap: 8px;
    padding: 4px 0;
  }

  .navbar-routes .nav-link {
    padding: 8px 12px;
  }
}

@media (max-width: 320px) {
  .navbar-logo {
    width: 40px;
  }

  .navbar-routes {
    gap: 6px;
    padding: 2px 0;
  }

  .navbar-routes .nav-link {
    padding: 6px 10px;
  }
}
.navbar-is-active {
  display: block !important;
}
.collapse:not(.show) {
  display: none;
  /* background-color: white; */
  display: flex;
  text-align: left;
  padding-left: 20px;
  margin-left: 10px;
  margin-right: 50%;
  color: white;
  /* height: 100vh; */
}
